.loginBox {
  max-width: 90%;
  width: 400px;
}

.registroBox {
  max-width: 90%;
  width: 600px;
}

md-input-container {
  margin: 15px 0;
}

.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

.table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

.table.striped tr {
  border-bottom: none;
}

.table.striped>tbody>tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

.table.striped>tbody>tr>td {
  border-radius: 0;
}

.table.highlight>tbody>tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.table.highlight>tbody>tr:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

.table.centered thead tr th,
.table.centered tbody tr td {
  text-align: center;
}

.table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table td,
.table th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  .table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }

  .table.responsive-table td:empty:before {
    content: '\00a0';
  }

  .table.responsive-table th,
  .table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }

  .table.responsive-table th {
    text-align: left;
  }

  .table.responsive-table thead {
    display: block;
    float: left;
  }

  .table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }

  .table.responsive-table thead tr th::before {
    content: "\00a0";
  }

  .table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }

  .table.responsive-table th {
    display: block;
    text-align: right;
  }

  .table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }

  .table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }

  .table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 87%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.negrita {
  font-weight: bold;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center,
.center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

html,
body,
.fondo {
  background-image: url('../images/fondo.jpg');
  background-attachment: fixed;
}

.degrade {
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 27%, rgba(255, 255, 255, 0.69) 45%, rgba(255, 255, 255, 0.57) 62%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(27%, rgba(255, 255, 255, 0.81)), color-stop(45%, rgba(255, 255, 255, 0.69)), color-stop(62%, rgba(255, 255, 255, 0.57)), color-stop(86%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 27%, rgba(255, 255, 255, 0.69) 45%, rgba(255, 255, 255, 0.57) 62%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 27%, rgba(255, 255, 255, 0.69) 45%, rgba(255, 255, 255, 0.57) 62%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.3) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 27%, rgba(255, 255, 255, 0.69) 45%, rgba(255, 255, 255, 0.57) 62%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 27%, rgba(255, 255, 255, 0.69) 45%, rgba(255, 255, 255, 0.57) 62%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

@media only screen and (max-width: 600px) {

  .hide-on-small-only,
  .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 1201px) {
  .hide-on-extra-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 1201px) {
  .show-on-extra-large {
    display: block !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }

  /* .img-card {
    height: 250px;
    width: 250px;
  } */
}

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
}

.img-card {
  height: 250px;
  width: auto
}