<md-sidenav class="md-sidenav-left" md-component-id="closeEventsDisabled" md-whiteframe="4" md-disable-close-events>

    <md-toolbar class="center-align">
        <img src="../images/logo.png" class="responsive-img" width="150" alt="">
    </md-toolbar>
    <md-content layout-margin>
        <md-button ng-click="control.toggleSidenav()" class="md-primary">
            Cerrar
        </md-button>
        <categories></categories>
    </md-content>

</md-sidenav>
<div layout="column" layout-fill>
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button hide-on-large-only" ng-click="control.toggleSidenav()">
                <md-icon style="color: white !important">menu</md-icon>
            </md-button>
            <span title="Virtual Shop" style="cursor: pointer;" class="center" ui-sref="app.home" md-truncate flex>
                <img src="../images/logo.png" class="responsive-img" width="150" alt="">
            </span>
            <div>
                <md-autocomplete md-no-cache="true" md-selected-item="selectedItem"
                    md-items="item in control.products | filter:searchText" md-search-text="searchText"
                    md-item-text="item.nombre_producto" md-item-text="3" placeholder="Search product"
                    md-selected-item-change="control.selected_item(item)">
                    <span title="{{ item.nombre_producto }}">{{ item.nombre_producto }}</span>
                </md-autocomplete>
            </div>
            <md-button class="md-icon-button" ui-sref="app.cart">
                <md-icon style="color: white !important">shopping_cart</md-icon>
            </md-button>
            <span style="color: white !important" ng-if="control.n_product()!==0">
                {{control.n_product()}}
            </span>
        </div>
    </md-toolbar>
    <md-content class="fondo">
        <md-toolbar style="margin-bottom: 20px" ng-if="$state.bar" md-whiteframe="3" class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" back>
                    <md-tooltip>
                        Go back
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <md-button class="md-icon-button" ui-sref="app.home">
                    <md-tooltip>
                        Inicio
                    </md-tooltip>
                    <md-icon>home</md-icon>
                </md-button>

                <h2 flex md-truncate>{{$state.title}}</h2>
            </div>
        </md-toolbar>
        <ui-view></ui-view>
    </md-content>
</div>