<div class="container">
    <md-card md-whiteframe="3" style="border-radius: 50px;padding-top: 20px">
        <md-card-content>
            <form ng-submit="control.shop()">
                <h1 ng-if="control.cart.length===0" class="center">No hay productos agregados</h1>
                <div ng-if="control.cart.length!==0" class="container">
                    <div>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="item in control.cart">
                                <img ng-src="{{item.foto}}" class="md-avatar" />
                                <div class="md-list-item-text">
                                    <h3>{{($index+1)}}. {{ item.nombre_producto }}</h3>
                                    <h3>Unidad: {{item.precio| currency:'COP $':0}}</h3>
                                    <h3>

                                    </h3>
                                    <md-input-container>
                                        <label>Cantidad</label>
                                        <input min="1" max="{{ item.stock }}"
                                            placeholder="Cantidad máxima {{ item.stock }}" required type="number"
                                            ng-init="item.amount=control.get_cart()[$index].amount"
                                            ng-model="item.amount" ng-change="control.update_amount(item)">
                                    </md-input-container>
                                    <b style="position: relative;top:-7px">=
                                        {{item.amount*item.precio| currency:'COP $':0}}</b>
                                </div>
                                <md-button type="button" ng-click="control.delete_product($index)"
                                    class="md-icon-button">
                                    <md-icon>
                                        delete
                                    </md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div>
                        <h1 class="right">
                            Total:{{control.total()| currency:'COP $':0}}
                        </h1>
                        <md-button class="md-raised md-primary" type="submit" style="color: white">
                            COMPRAR
                        </md-button>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>