<div layout="row">
    <div flex="20" style="padding: 10px" class="degrade">
        <h3>{{control.category.nombre}} ({{control.category.existencias}})</h3>
        <p>{{control.category.detalle}}</p>
        <h3>Nuestras marcas</h3>
        <div layout="row" layout-wrap layout-align="center center">
            <img style="padding:5px" flex="33" ng-repeat="marca in control.category.marcas" ng-src="{{marca.logo}}" alt="{{marca.nombre}}"
                title="{{marca.nombre}}">
        </div>
    </div>

    <div flex layout="row" layout-wrap>
        <div flex="25" ng-repeat="item in control.products">
            <card-product product="item"></card-product>
        </div>
    </div>

</div>