<div layout="column">
    <div flex  layout-gt-xs="column" layout-gt-sm="row" style="margin-top: 20px">
        <div flex-gt-xs="100" flex-gt-sm="40" class="center">
            <div class="container">
                <img md-whiteframe="5" style="border-radius: 20px ;background-color: white" class="responsive-img"
                    ng-src="{{control.product.foto}}" alt="">
            </div>
        </div>
        <div flex class="container">
            <h1>{{control.product.nombre_producto}}</h1>
            <div ng-if="control.product.id_producto" layout="row" layout-align="end center">
                <btn-cart id-prodct="control.product.id_producto"></btn-cart>
                <h2 flex>Stock: {{control.product.stock || 0}}</h2>
                <h2 flex>{{control.product.precio | currency:'COP $':0  }}</h2>
            </div>
            <div>
                <img style="max-width: 100px ;cursor: pointer;" ng-src="{{control.product.logo}}"
                    alt="{{control.product.nombre}}" title="{{control.product.nombre}}"
                    ui-sref="app.brands({id:_url(control.product.id_marca)})" class="responsive">
            </div>
            <p ng-bind-html="control.product.descripcion"></p>
            <md-chips>
                <md-chip ng-repeat="cat in control.product.categories" style="cursor: pointer;"
                    ui-sref="app.categories({id:_url(cat.id_categoria)})">{{cat.nombre}}</md-chip>
            </md-chips>
        </div>

    </div>
    <div ng-if="control.related.length > 0" class="container" flex>
        <h1>Productos relacionados</h1>
        <div layout="row" layout-wrap>
            <div flex="50" flex-xs="100" flex-gt-sm="25" ng-repeat="item in control.related | limitTo:4">
                <card-product  product="item"></card-product>
            </div>
        </div>
    </div>
</div>